.containerImage {
    /*width: 80em;*/
    /*max-height: 80%;*/
    width: 70em;
    /*margin-top: 4em;*/
    grid-column-start: 2;
    grid-row-start: 2;
}

.mainImage {
    width: 100%
}

@media only screen and (max-width: 768px) {
    .containerImage {
        margin-left: 12%;
        width: 250%;
        max-height: 80%;
    }
}