.aboutContainer {
    grid-column-start: 2;
    grid-row-start: 2;
}

.imageCropper {
    width: 130px;
    height: 130px;
    position: relative;
    overflow: hidden; 
    border-radius: 50%;
}

.aboutMeImage {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}