ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

li {
  line-height: 2.5;
}

.main-div {
  margin: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column-photo {
  display: flex;
  flex-direction: column;
  flex: 0 0 60em;
}      

.column-menu {
  display: flex;
  flex-direction: column;
  flex: 0 0 25em;
}  

.name {
  font-weight: 700;
  font-size: x-large;
  text-decoration: none;
  color: #424242;
}

.icon-items {
  display: flex;
  justify-content: flex-start;
}

.icon-item {
  margin-right: 3%;
  margin-top: 3%;
}

.contact {
  text-decoration: none;
  color: #000000;
}

.app-left-menu {
  margin-top: 15%;
}

header {
  margin-left: 10%;
  margin-top: 25%;
  margin-bottom: 5%;
}

footer {
  text-align: center;
}

.main-image {
  margin-top: 5%;
} 

.App-link {
  color: #61dafb;
}
