ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

li {
    line-height: 2.5;
}

.mainContainer {
    margin: 15px;
}

.menuContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.container {
    justify-content: space-between;
    display: grid;
    align-self: center;
    align-content: center;
    margin: 12px 15px auto;
    max-width: 60%;
}

.columnMenu {
    display: flex;
    flex-direction: column;
    flex: 0 0 25em;
}

.name {
    font-weight: 700;
    font-size: x-large;
}

.story {
    display: flex;
    flex-direction: column;
}

.storyTitle {
    color: #424242;
    text-align: center;
    font-weight: 100;
    letter-spacing: 2px;
    margin-top: 5%;
}

.paragraphs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.paragraphsFont {
    font-weight: 400;
    letter-spacing: 1.5px;
    color: #424242;
}

a, a:link, a:visited, a:focus, a:hover, a:active {
    color: #424242;
    text-decoration: none;
    cursor: pointer;
}

.iconItems {
    display: flex;
    justify-content: flex-start;
}

.iconItem {
    margin-right: 3%;
}

.appLeftMenu {
    margin-top: 15%;
}

header {
    margin-left: 10%;
    margin-top: 25%;
    margin-bottom: 5%;
}

footer {
    text-align: center;
}

.mainImage {
    margin-top: 5%;
}

.appLink {
    color: #61dafb;
}
