@media only screen and (max-width: 768px) {
    /*.menu {*/
    /*    margin: -180px 0 0 -51px;*/
    /*    padding-bottom: 70px;*/
    /*    list-style-type: none;*/
    /*    transform-origin: 0% 0%;*/
    /*    transform: translate(0%, 0);*/
    /*    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);*/
    /*}*/
    .menuContainer {

    }
}

ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

li {
    line-height: 2.5;
}

.menuContainer {
    display: grid;
    grid-template-columns: 18em auto;


}

.columnMenu {
    grid-column-start: 1;
    grid-row-start: 2;
}

.thirdColumn {
    grid-column-start: 2;
    grid-row-start: 2;
}

.firstRow {
    padding-top: 4em;
    grid-row-start: 1;
}

.secondRow {
    padding-top: 4em;
    grid-row-start: 3;
}


.name {
    font-weight: 700;
    font-size: x-large;
}

a, a:link, a:visited, a:focus, a:hover, a:active {
    color: #424242;
    text-decoration: none;
    cursor: pointer;
}

.iconItems {
    display: flex;
    justify-content: flex-start;
}

.iconItem {
    margin-right: 3%;
}

.appLeftMenu {
    margin-top: 15%;
}

header {
    margin-left: 10%;
    margin-top: 25%;
    margin-bottom: 5%;
}

footer {
    text-align: center;
}

.appLink {
    color: #61dafb;
}
